<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Cryptos" value="Bitcoin|Ethereum|Bitcoin Cash|Ripple|Dash|Litecoin|Ethereum Classic|Cardano|IOTA|Stellar|EOS|NEO|TRON|ZCASH|Binance Coin|Tezos|Maker|Compound|Uniswap|Dogecoin|Chainlink|Uniswap|Yearn.finance|Dogecoin|Aave|Algorand|Decentraland|Basic Attention Token|Polygon|Spark|Shiba (in millions)|Enjin"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>